<!-- Banner Container Start -->
<div class="container-fulid lightblue-background fadeIn background-img d-flex align-items-end">
    <div class="col-md-12 col-sm-12 d-flex justify-content-start">
        <div class="col-md-7 d-flex justify-content-center primary-background rounded-end-pill py-2 ps-5 mb-5">
            <div class="col-md-7">
             <div class="col-md-7 col-sm-12 me-4">
                <p class="primary-color fs-2 fw-bold white-color mt-2 mb-1">THE COMPANY</p>
            </div>
            <div class="col-md-7 col-sm-12 me-4">
                <p class="fs-4 fw-medium link-color mb-4">Annual Financial Reports</p>
            </div>   
            </div>
        </div>
    </div>
</div>
<!-- Banner Container End -->

<!-- First container start -->
<div class="container-fluid lightblue-background">
    <div class="container mt-5 py-5 px-4">
    <!-- content s-->
    <div class="col-md-12 p-4 lightblue-background fadeIn-2">
        <div class="col-md-12">
            <p class="primary-color fw-bold fs-4">Financial Year</p>
        </div>
        <div class="col-md-12">
            <button type="button" class="btn btn-primary bluegray-background border border-0 py-3 px-5 mx-2 float-animation">2022
              <i class="bi bi-arrow-right-circle-fill ms-2"></i>
            </button>

            <button type="button" class="btn btn-primary link-background border border-0 py-3 px-5 mx-2 my-2 float-animation">2021
                <i class="bi bi-arrow-right-circle-fill ms-2"></i>
            </button>

            <button type="button" class="btn btn-primary bluegray-background border border-0 py-3 px-5 mx-2 my-2 float-animation">2020
                <i class="bi bi-arrow-right-circle-fill ms-2"></i>
            </button>

            <button type="button" class="btn btn-primary link-background border border-0 py-3 px-5 mx-2 my-2 float-animation">2019
                <i class="bi bi-arrow-right-circle-fill ms-2"></i>
            </button>

            <button type="button" class="btn btn-primary bluegray-background border border-0 py-3 px-5 mx-2 my-2 float-animation">2018
                <i class="bi bi-arrow-right-circle-fill ms-2"></i>
            </button>

            <button type="button" class="btn btn-primary link-background border border-0 py-3 px-5 mx-2 my-2 float-animation">2017
                <i class="bi bi-arrow-right-circle-fill ms-2"></i>
            </button>

            <button type="button" class="btn btn-primary bluegray-background border border-0 py-3 px-5 mx-2 my-2 float-animation">2016
                <i class="bi bi-arrow-right-circle-fill ms-2"></i>
            </button>

            <button type="button" class="btn btn-primary link-background border border-0 py-3 px-5 mx-2 my-2 float-animation">2015
                <i class="bi bi-arrow-right-circle-fill ms-2"></i>
            </button>

        </div>
    </div>
    <!-- content e-->
  </div>
</div>

<!-- First container end -->

<!-- Second container start -->
<div class="container-fluid">
    <div class="container mt-5 py-5 px-4">
    <!-- content s-->
    <div class="col-md-12 p-4 text-center fadeIn-2">
        <div class="col-md-12 mb-4">
            <p class="primary-color fw-bold fs-3">Quarterly Financial Reports</p>
        </div>
     <div class="tbl-container">
      <div class="col-md-12 tbl-fixed">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">
            <div class="d-flex justify-content-start me-2 rounded-2 gray-background p-3">
              <i class="bi bi-calendar-event primary-color me-2"></i> <p class="primary-color m-0"> Financial Year</p>
            </div>
          </th>
          
          <th scope="col">
            <div class="d-flex justify-content-center me-2 rounded-2 gray-background p-3">
              <p class="primary-color m-0">Quarter 4</p>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex justify-content-center me-2 rounded-2 gray-background p-3">
              <p class="primary-color m-0">Quarter 3</p>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex justify-content-center me-2 rounded-2 gray-background p-3">
              <p class="primary-color m-0">Quarter 2</p>
            </div>
          </th>

          <th scope="col">
            <div class="d-flex justify-content-center me-2 rounded-2 gray-background p-3">
              <p class="primary-color m-0">Quarter 1</p>
            </div>
          </th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="py-3" scope="row">
            <div class="d-flex justify-content-start align-items-center">
              <i class="bi bi-arrow-right-short fs-4 primary-color"></i><p class="m-0 p-0 primary-color fs-5"> 2022</p>
            </div>
          </th>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
        </tr>

        <tr>
          <th class="py-3" scope="row">
            <div class="d-flex justify-content-start align-items-center">
              <i class="bi bi-arrow-right-short fs-4 primary-color"></i><p class="m-0 p-0 primary-color fs-5"> 2021</p>
            </div>
          </th>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
        </tr>

        <tr>
          <th class="py-3" scope="row">
            <div class="d-flex justify-content-start align-items-center">
              <i class="bi bi-arrow-right-short fs-4 primary-color"></i><p class="m-0 p-0 primary-color fs-5"> 2020</p>
            </div>
          </th>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
        </tr>

        <tr>
          <th class="py-3" scope="row">
            <div class="d-flex justify-content-start align-items-center">
              <i class="bi bi-arrow-right-short fs-4 primary-color"></i><p class="m-0 p-0 primary-color fs-5"> 2019</p>
            </div>
          </th>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
        </tr>

        <tr>
          <th class="py-3" scope="row">
            <div class="d-flex justify-content-start align-items-center">
              <i class="bi bi-arrow-right-short fs-4 primary-color"></i><p class="m-0 p-0 primary-color fs-5"> 2018</p>
            </div>
          </th>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
        </tr>

        <tr>
          <th class="py-3" scope="row">
            <div class="d-flex justify-content-start align-items-center">
              <i class="bi bi-arrow-right-short fs-4 primary-color"></i><p class="m-0 p-0 primary-color fs-5"> 2017</p>
            </div>
          </th>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
          <td class="text-center py-3">
            <a class="hoverly" href=""><i class="bi bi-file-earmark-arrow-down fs-4 primary-color"></i></a>
          </td>
        </tr>

        
        
      </tbody>
    </table>
        </div>
     </div>   
    
    </div>

    
    <!-- content e-->
  </div>
</div>

<!-- Second container end -->