<!-- Banner Container Start -->
<div class="container-fulid lightblue-background c-banner-rounded fadeIn background-img d-flex align-items-end">
    <div class="col-md-5 rounded-end-4 primary-background py-2 ps-5 mt-5 ">
        <div class="col-12 ms-5">
            <p class="primary-color fs-2 fw-bold white-color mt-2 mb-1">THE COMPANY</p>
        </div>
        <div class="col-12 ms-5">
            <p class="fs-3 fw-medium link-color mb-4 me-2">Shariyah Review Bureau</p>
        </div>
    </div>
</div>
<!-- Banner Container End -->

<!-- First container start -->
<div class="container city-background rounded-4 mt-5 fadeIn-4">
    <div class="col-md-12 mx-4">
        <div class="col-12 p-0 m-0">
            <p class="primary-color fw-bold fs-4 mb-3">Our Achievements</p>
        </div>
        <div class="col-12 p-0 m-0">
            <p class=" p-0 m-0">The Mediterranean & Gulf Cooperative Insurance & Reinsurance Company (Medgulf) Has Certification of Sharia Compliance.</p>
        </div>
        <div class="col-12 p-0 m-0">
          <p class=" p-0 m-0">The Mediterranean & Gulf Cooperative Insurance & Reinsurance Company (MEDGULF) received certification of Sharia compliance by Shariyah Review Bureau.</p>
        </div>
        <div class="col-12 p-0 m-0">
          <p class=" p-0 m-0">Shariyah Review Bureau is a Middle East based Sharia advisory firm that works with financial institutions from banks to insurance companies, asset managers, family offices and fintech to tackle their Sharia compliance challenges.</p>
        </div>
    </div>
</div>
<!-- First container end -->

<!-- Second container start d-flex justify-content-center -->
<div class="container-fluid lightblue-background mt-5 p-5">
    <div class="row mx-4">
    <!-- content s-->
    <div class="col-md-6 p-4 lightblue-background fadeIn-2">
        <div class="col-md-12">
            <p class="primary-color fw-bold fs-4">Shariyah Review Bureau</p>
        </div>
        <div class="col-md-12">
            <p class="my-4">The company is designed to operate as a single global partnership helping clients meet their Sharia assurance needs from setting up Sharia Boards to administering Sharia certification and providing external Sharia audit services. SRB also provides Sharia assurance guided by the most widely recognized international standard, ISAE 3000.</p>
            <p class="">With scholarly presence in more than 21 countries from US, Europe, Africa, GCC and Asia its services can be delivered to financial institutions anywhere in the world. It serves clients at various levels, whether as a trusted Sharia advisor to executive management or as an internal Sharia auditor for internal control purposes or as an independent external Sharia auditor.</p>
        </div>
    </div>
    <!-- content e-->
    <!-- img s -->
    <div class="col-md-6 lightblue-background fadeIn-2">
        <div class="col-md-12">
            <img class="img-fluid rounded-4" [src]="img_office" alt="">
        </div>
    </div>
    <!-- img e -->

  </div>
  </div>
<!-- Second container end -->

<!-- Third container start d-flex justify-content-center -->
<div class="container-fluid mt-5 p-5">
    <div class="row mx-4">
    <!-- img s -->
    <div class="col-md-6 fadeIn-2">
        <div class="col-md-12">
            <img class="img-fluid rounded-4" [src]="galaxy_img" alt="">
        </div>
    </div>
    <!-- img e -->

    <!-- content s-->
    <div class="col-md-6 p-4 fadeIn-2">
        <div class="col-md-12">
            <p class="primary-color fw-bold fs-4">Shariyah Review Bureau</p>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                <p class="my-4">Our Sharia governance responsibilities under the engagement with Medgulf Cooperative Insurance & Reinsurance Co includes setting up the Sharia Committee Members:</p>
            </div>
            <div class="col-md-12">
                <p class=""><i class="bi bi-caret-right-fill"></i> Sheikh Irshad Ahmad Aijaz.</p>
            </div>
            <div class="col-md-12">
                <p class=""><i class="bi bi-caret-right-fill"></i> Sheikh Dr. Salah Fahad Al Shalhoob.</p>                    
            </div>
            <div class="col-md-12">
                <p class=""><i class="bi bi-caret-right-fill"></i> Sheikh Dr. Khalid Al-Muzeini.</p>
            </div>
            <div class="col-md-12">
                <p class="">Together we’ll be providing ongoing Sharia certification and Sharia audit (AAOIFI, GISIF No. 2)</p>
            </div>
        </div>
    </div>
    <!-- content e-->
  </div>
  </div>
<!-- Third container end -->

<!-- Forth container start -->
<div class="container primary-background rounded-4 my-5 fadeIn-4">
    <div class="row p-4">
        <!-- s1 s -->
        <div class="col-md-5">
            <div class="col-12 p-0 m-0">
                <p class="white-color fw-medium fs-4 mb-1">To know more</p>
            </div>
            <div class="col-12 p-0 m-0">
                <p class=" p-0 m-0 white-color">For further information or clarification on our engagement<br>
                    To learn more about us please visit:<a class="link-color" href="#"> www.shariyah.net</a><br> extension<a class="link-color" href="#"> 1007</a></p>
            </div>
        </div>
        <!-- s1 e -->
        <!-- s2 s -->
        <div class="d-flex justify-content-center align-items-center col-md-3 my-1">
            <div class="col-3 p-0 m-0">
                <p class="white-color fw-bolder fs-3 m-0"><i class="bi bi-telephone "></i></p>
            </div>
            <div class="row">
                <div class="col-md-12">
                   <p class=" p-0 mb-1 white-color">Call us now on</p>
                   <p class="fs-5 fw-bold link-color p-0 m-0">+97317215898</p>  
                </div>
            </div>
        </div>
        <!-- s2 e -->
        <!-- s3 s -->
        <div class="d-flex justify-content-center align-items-center col-md-3">
            <div class="col-3 p-0 m-0">
                <p class="white-color fw-bolder fs-3 m-0"><i class="bi bi-envelope"></i></p>
            </div>
            <div class="row">
                <div class="col-md-12">
                   <p class=" p-0 mb-1 white-color">Mail us on</p>
                   <p class="fs-5 fw-bold link-color p-0 m-0">saleh@shariyah.com</p>  
                </div>
            </div>
        </div>
        <!-- s3 e -->
    </div>
    
</div>
<!-- Forth container end -->