<!-- Banner Container Start -->
<div class="container-fulid lightblue-background fadeIn background-img d-flex align-items-end">
    <div class="col-md-12 col-sm-12 d-flex justify-content-start">
        <div class="col-md-7 d-flex justify-content-center primary-background rounded-end-pill py-2 ps-5 mb-5">
            <div class="col-md-7">
             <div class="col-md-7 col-sm-12 me-4">
                <p class="primary-color fs-2 fw-bold white-color mt-2 mb-1">Our Products </p>
            </div>
            <div class="col-md-7 col-sm-12 me-4">
                <p class="fs-4 fw-medium link-color mb-4">Group Health
                </p>
            </div>   
            </div>
        </div>
    </div>
</div>
<!-- Banner Container End -->


<!-- First container start -->
<div class="container-fluid">
    <div class="container mt-5 py-5 px-4">
    <div class="row">
    <!-- content s-->
    <div class="col-md-6 p-4 fadeIn-2 d-flex justify-content-center align-items-center">
        <div class="col-md-12">
            <div class="col-md-12">
                <p class="primary-color fw-bold fs-4">Group Health Insuracne</p>
            </div>
            <div class="col-md-12">
                <p class="my-4">We take pride in ourselve pioneer group health insurance provider in the Kingdom. Based on our experience, we provide various insurance documents that fit the needs of your corporation andgrant your family and employees the appropriate health care.</p>
            </div>
            <div class="col-md-12">
                <a class="btn btn-primary primary-background" href="#" role="button">Request a qoution</a>
            </div>  
        </div>
    </div>
    <!-- content e-->
    <!-- img s -->
    <div class="col-md-6 fadeIn-2">
        <div class="col-md-12 p-4">
            <img class="img-fluid rounded-4" [src]="health_img" alt="">
        </div>
    </div>
    <!-- img e -->

  </div>
  </div>
</div>

<!-- First container end -->

<!-- Second container start -->
<div class="container-fluid lightblue-background">
    <div class="container">
            <div class="col-md-12 text-center p-5">
                <p class="fs-3 fw-bold primary-color">
                    Basic Insurance Coverage includes
                </p>
            </div>
            <div class="row d-flex justify-content-between">

            <div class="col-md-4 text-center p-3">
                <div class="box white-background rounded-3 p-4">
                    <div class="col">
                        <img class="img-fluid rounded-4" [src]="icon_sp" alt=""> 
                    </div>
                    <div class="col">
                        <p class="fw-bold mt-4"> Medical consultation</p>
                    </div> 
                </div>
            </div>


            <div class="col-md-4 text-center p-3">
                <div class="box white-background rounded-3 p-4">
                    <div class="col">
                        <img class="img-fluid rounded-4" [src]="icon_pen" alt=""> 
                    </div>
                    <div class="col">
                        <p class="fw-bold mt-4">Prescriptions</p>
                    </div> 
                </div>
            </div>


            <div class="col-md-4 text-center p-3">
                <div class="box white-background rounded-3 p-4">
                    <div class="col">
                        <img class="img-fluid rounded-4" [src]="icon_ph" alt=""> 
                    </div>
                    <div class="col">
                        <p class="fw-bold mt-4">Diagnostic lab tests</p>
                    </div> 
                </div>
            </div>
            
        </div>
        

        <div class="row  d-flex justify-content-evenly">
            <div class="col-md-4 text-center p-3">
                <div class="box white-background rounded-3 p-4">
                    <div class="col">
                        <img class="img-fluid rounded-4" [src]="icon_wo" alt=""> 
                    </div>
                    <div class="col">
                        <p class="fw-bold mt-4">Surgeries</p>
                    </div> 
                </div>
            </div>

            <div class="col-md-4 text-center p-3">
                <div class="box white-background rounded-3 p-4">
                    <div class="col">
                        <img class="img-fluid rounded-4" [src]="icon_hos" alt=""> 
                    </div>
                    <div class="col">
                        <p class="fw-bold mt-4">In-network hospital admission</p>
                    </div> 
                </div>
            </div>

          </div>

      </div>
</div>

<!-- Second container end -->


<!-- First container start -->
<div class="container-fluid">
    <div class="container mt-5">
    <div class="col-md-12 text-center p-5">
        <p class="fs-3 fw-bold primary-color">
            MEDGULF Group Health Insurance Benefits
        </p>
    </div>
    <div class="row">
    <!-- content left s -->
    <div class="col-md-6 p-4">
        <div class="d-flex justify-content-start align-items-center col-md-12 bluefade-background border-c rounded-2">
            <div class="col-3 p-3 m-0">
                <img class="" [src]="i1" height="47" width="47" alt=""> 
            </div>
            <div class="row">
                <div class="col-md-12">
                   <p class="fw-medium p-2 mb-1">Wide range of products customized to fit the needs of your corporation</p> 
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-start align-items-center col-md-12 bluefade-background border-c rounded-2 mt-3">
            <div class="col-3 p-3 m-0">
                <img class="" [src]="i2" height="47" width="47" alt=""> 
            </div>
            <div class="row">
                <div class="col-md-12">
                   <p class="fw-medium p-2 mb-1">Direct settlement for preplanned treatments</p> 
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-start align-items-center col-md-12 bluefade-background border-c rounded-2 mt-3">
            <div class="col-3 p-3 m-0">
                <img class="" [src]="i3" height="47" width="47" alt=""> 
            </div>
            <div class="row">
                <div class="col-md-12">
                   <p class="fw-medium p-2 mb-1">Personal insurance card and MEDGULF in-network booklet</p> 
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-start align-items-center col-md-12 bluefade-background border-c rounded-2 mt-3">
            <div class="col-3 p-3 m-0">
                <img class="" [src]="i4" height="47" width="47" alt=""> 
            </div>
            <div class="row">
                <div class="col-md-12">
                   <p class="fw-medium p-2 mb-1">24/7 clients hotline for inquiries</p> 
                </div>
            </div>
        </div>
        
    </div>
    
    <!-- content left e -->
    <!-- content right s -->
    <div class="col-md-6 p-4">

        <div class="d-flex justify-content-start align-items-center col-md-12 bluefade-background border-c rounded-2">
            <div class="col-3 p-3 m-0">
                <img class="" [src]="i5" height="47" width="47" alt=""> 
            </div>
            <div class="row">
                <div class="col-md-12">
                   <p class="fw-medium p-2 mb-1">Network of hospitals and medical centers from all around the Kingdom</p> 
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-start align-items-center col-md-12 bluefade-background border-c rounded-2 mt-3">
            <div class="col-3 p-3 m-0">
                <img class="" [src]="i6" height="47" width="47" alt=""> 
            </div>
            <div class="row">
                <div class="col-md-12">
                   <p class="fw-medium p-2 mb-1">Direct settlement for payment claims</p> 
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-start align-items-center col-md-12 bluefade-background border-c rounded-2 mt-3">
            <div class="col-3 p-3 m-0">
                <img class="" [src]="i7" height="47" width="47" alt=""> 
            </div>
            <div class="row">
                <div class="col-md-12">
                   <p class="fw-medium p-2 mb-1">24/7 emergency hotline for urgent conditions from within or outside of the kingdom</p> 
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-start align-items-center col-md-12 bluefade-background border-c rounded-2 mt-3">
            <div class="col-3 p-3 m-0">
                <img class="" [src]="i8" height="47" width="47" alt=""> 
            </div>
            <div class="row">
                <div class="col-md-12">
                   <p class="fw-medium p-2 mb-1">Managing the client’s services through our website</p> 
                </div>
            </div>
        </div>
    </div>
    <!-- content right e -->

  </div>
  </div>
</div>

<!-- Third container end -->

<!-- Forth container start -->
<div class="container primary-background rounded-4 my-5 fadeIn-4">
    <div class="row d-flex justify-content-between align-items-center p-3">
        <!-- s1 s -->
        <div class="col-md-6 p-4">
            <div class="col-6 text-center rounded-4 border border-white  p-0 m-0">
                <p class="white-color fw-medium fs-5 mb-1">Tailored health plans</p>
            </div>
            <div class="col-9 p-0 m-0">
                <p class="link-color fw-bold fs-2 my-1">Over Two Decades Of Being By Your Side</p>
            </div>
            <div class="col-12 p-0 m-0">
                <p class=" p-0 m-0 white-color">
                    Today, our community includes over 4,000 groups, covering over 1,000,000 insured who now have access to over 1,000 of the best healthcare providers in
                </p>
            </div>
        </div>
        <!-- s1 e -->
        <!-- s2 s -->
        <div class="col-md-6 d-flex justify-content-center align-items-center col-md-3 my-1">
            <div class="col-12 d-flex justify-content-end">
                <img class="img-size" [src]="icon_medgulf" alt="">
            </div>
        </div>
        <!-- s2 e -->
    </div>
    
</div>
<!-- Forth container end -->